/* Desing movile firts */

:root {
    --header-Bg: goldenrod;
    --option-Menu: rgb(240, 240, 240);
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    background-color: var(--header-Bg);
    justify-content: space-between;
}
.logo {
    background-color: var(--header-Bg);
    display: inline-block;
    max-width: 10rem;
}
.rigth, .left {
    max-width: 50%;
}
.rigth {
    max-height: 10rem;
    list-style: none;
}
.activeMenu {
    min-width: 6rem;
    min-height: 6rem;
    margin-top: 2rem;
    margin-left: 3.5rem;
}
.fa-burger{
    display: inline;
    position: absolute;
    font-size: 5rem;
}
.menu-hambur{
    background-color: var(--option-Menu);
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 7rem;
}
.tipos {
    display: block;
    padding: 0 1rem;
}
.item {
    background-color: var(--option-Menu);
    text-align: center;
    list-style-type: none;
    font-size: 1.8rem;
    font-style: italic;
    padding-bottom: 1.5rem;
}
.active {
    display: none;;
}
/* Style for main menu */
.plancha {
    margin-left: 3rem;
}
.type {
    text-align: center;
    font-size: 2.5rem;
    color: red;
}

.product::before {
    margin-left: 2rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    content: "\f094";
    color: green;
}
.product {
    font-weight: lighter;
    font-size: 1.8rem;
    color: rgb(200, 10, 10);
}
.item-menu {
    font-size: 1.3rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}

/* Media querys for diferents displays */